.app-header {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  background: transparent;
  box-shadow: 0px 4px 21px 0px #0077ac40;
}

.logo img {
  height: 19px;
  width: auto;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--brand-purple);
  color: white;
  font-size: 13px;
  cursor: pointer;
}
