<div class="dashboard-container">
  <div class="welcome">
    Welcome <br />
    Sudhir Chand
  </div>

  <div class="card-grid">
    <div class="dashboard-card">
      <img src="assets/template_creation.png" />
      <h3>BSC Template Creation</h3>
      <p class="subtext">Create BSC template</p>
    </div>

    <div class="dashboard-card">
      <img src="assets/view_bsc.png" />
      <h3>View All BSC</h3>
      <p class="subtext">View all BSC details</p>
    </div>

    <div class="dashboard-card">
      <img src="assets/data_setup.png" />
      <h3>Master Data Setup</h3>
      <p class="subtext">Setup master data</p>
    </div>

    <div class="dashboard-card">
      <img src="assets/user_management.png" />
      <h3>User Management</h3>
      <p class="subtext">Add & manage users</p>
    </div>
  </div>
</div>
