.login-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.left-panel {
  position: relative;
  color: white;
  background: linear-gradient(145.32deg, #0078ac 0.64%, #8e278f 105.01%);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.top-bar img:first-child {
  height: 40px;
}

.top-bar img:last-child {
  height: 120px;
}

.welcome-text {
  max-width: 450px;
  margin-left: 10%;
  margin-top: -38px;
}

.welcome-text p {
  font-size: 25px;
  margin-bottom: 0px;
}

.welcome-text h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0px;
}

.illustration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.illustration img {
  width: 100%;
  height: auto;
  display: block;
}

.right-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  text-align: center;
  padding: 30px;
}

.login-box h2 {
  margin: 0px;
}

.sso-btn {
  margin-top: 16px;
}

:host ::ng-deep .w-full {
  width: 50%;
}

.terms {
  color: #5b5b5b;
  font-size: 14px;
  margin-top: 16px;
}
