<div class="user-container">
  <!-- Top Bar -->
  <div class="page-header">
    <div class="title-section">
      <button class="back-btn">
        <i class="pi pi-arrow-left"></i>
      </button>

      <h2>User Management</h2>

      <div class="search">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" placeholder="Search" />
        </span>
      </div>
    </div>

    <div class="actions">
      <p-button severity="primary" label="Add User" icon="pi pi-user-plus"></p-button>
    </div>
  </div>

  <!-- Table -->
  <p-table [value]="users" [paginator]="true" [rows]="10" class="user-table">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Email ID</th>
        <th>Department</th>
        <th>Type</th>
        <th style="width: 100px"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.department }}</td>
        <td>{{ user.type }}</td>

        <td class="actions-cell">
          <button class="icon-btn">
            <i class="pi pi-pencil"></i>
          </button>

          <button class="icon-btn delete">
            <i class="pi pi-minus-circle"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
